# port
PORT="23002"
# split with ',' and use double-quotes to wrap hosts
# for example: '["http://localhost:23001", "http://localhost:23004"]'
TRUSTED_ORIGINS=
# better-auth
BETTER_AUTH_SECRET=

# connection string
MONGODB_URI="mongodb://username:password@mongo.jigu.orb.local:27017/jigu?directConnection=true&serverSelectionTimeoutMS=2000&authSource=admin"

# fastgpt
FASTGPT_APP_SECRET=
FASTGPT_API_BASE_URL=
