@import "tailwindcss";
@import "@nuxt/ui";

@import "@/assets/css/utilities.css";

:root {
  --ui-primary: black;
  --ui-bg: var(--ui-color-neutral-50);
  --ui-text: var(--ui-color-neutral-900);
}

.dark {
  --ui-primary: white;
  --ui-bg: var(--ui-color-neutral-950);
  --ui-text: var(--ui-color-neutral-50);
  --ui-border: var(--ui-color-neutral-900);
}

@theme {
  --font-sans: "Noto Sans SC", sans-serif;
}
